<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{user.name}}!</h2>
  </div>
</div>

 
  <div class="col-md-6 project-list">
    <h4>Current Projects:</h4>
<ul>
    {{#each posts as |post|}}
    {{#if post.user_id}}
    <li>
      <div class="row mb-2">
        <div class="col-md-8">
          <h5><a href="/post/{{post.id}}">{{post.post_title}}</a></h5>
        </div>
        <div class="col-md-4">
          <p>{{post.post}}</p>
        <div class="col-md-4">
          <button
            class="btn btn-sm btn-danger"
            data-id="{{post.id}}"
          >DELETE</button>
        </div>
      </div>
    </li>
      {{/if}}
    {{/each}}
</ul>
  </div>
<script src="./js/delete-post.js"></script>