<div class="text-center">
  <h2>{{post_title}}</h2>
  <p>{{post}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <p class="post-id hide">{{id}}</p>
</div>
<div class="comments">
  <h3>Comments</h3>
  {{#each comments as |comment| }}
  <div class="row mb-4 project">
    <div class="col-md-5">
      <p class="blue-text">{{comment.user.name}} on {{format_date comment.date_created}}</p>
    </div>
    <div class="col-md-7">
      <p>
        {{comment.comment}}
      </p>
    </div>
  </div>
  {{/each}}
</div>
<h4>Add a Comment:</h4>
<textarea class="comment-body"></textarea>
<button class="btn btn-primary" id="new-comment-form">Submit</button>
<script src="/js/comment.js"></script>